.sectionContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--background-color-3);
    padding: 20px;
    gap: 20px;
}

.primerContenido {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.preguntas {
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 10px;
}

.preguntas h2 {
    color: var(--primary-color);
    font-size: 24px;
}

.iconContainer {
    display: flex;
    justify-content: flex-start;
    color: var(--text-color);
    gap: 10px;
}

.icon {
    color: var(--primary-color);
    font-size: 20px;
}

.sectionContainer img {
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(0px 0px 50px var(--secondary-color));
    margin-bottom: -20px;
    width: 280px;
}

@media (min-width: 576px) {
    .preguntas {
        width: 430px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        padding: 40px 20px;
    }

    .primerContenido {
        flex-direction: row;
        align-items: start;
    }

    .preguntas {
        width: 320px;
        gap: 20px;
    }

    .sectionContainer img {
        margin-bottom: -40px;
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .sectionContainer {
        gap: 40px;
    }

    .preguntas {
        width: 480px;
    }

    .preguntas h2 {
        font-size: 32px;
    }

    .icon {
        font-size: 25px;
    }

    .iconContainer p {
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .primerContenido {
        gap: 20px;
    }

    .sectionContainer img {
        width: 450px;
    }
}

@media (min-width: 1700px) {
    .primerContenido {
        gap: 40px;
    }

    .preguntas {
        width: 530px;
    }

    .preguntas h2 {
        font-size: 44px;
    }

    .iconContainer p {
        font-size: 20px;
    }

    .sectionContainer img {
        width: 500px;
    }
}
