.sectionContainer {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary-color);
    padding: 20px;
    gap: 20px;
}

.sectionTitulo {
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color-2);
}

.sectionTitulo h2 {
    text-align: center;
    font-size: 32px;
    width: 260px;
}

.sectionContenido {
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    gap: 20px;
}

.iconsContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 10px;
}

.icon {
    width: 40px;
    height: 30px;
    color: var(--primary-color);
}

.iconContainer p {
    font-size: 20px;
}

.parrafoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 320px;
    gap: 20px;
}

.parrafoContainer h3 {
    font-size: 28px;
}

@media (min-width: 576px) {
    .sectionTitulo h2 {
        width: auto;
    }

    .parrafoContainer {
        width: 440px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        padding: 40px 20px;
    }
    .sectionContenido {
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }

    .parrafoContainer {
        margin-top: 5px;
        width: 340px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo h2 {
        font-size: 42px;
    }

    .sectionContenido {
        gap: 220px;
    }

    .parrafoContainer {
        width: 487px;
        text-align: left;
    }
}

@media (min-width: 1400px) {
    .iconContainer {
        gap: 20px;
    }

    .icon {
        width: 50px;
        height: 40px;
    }

    .iconContainer p {
        font-size: 22px;
    }

    .parrafoContainer {
        margin-top: 10px;
        width: 487px;
    }

    .parrafoContainer p {
        font-size: 20px;
    }
}

@media (min-width: 1700px) {
    .sectionTitulo h2 {
        font-size: 52px;
        width: 1200px;
    }

    .iconsContainer {
        gap: 30px;
    }

    .parrafoContainer {
        width: 520px;
    }

    .parrafoContainer h3 {
        font-size: 32px;
    }
}
